<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<!-- 日志打印到控制台 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    	<!-- encoder 默认配置为PatternLayoutEncoder -->
    	<encoder>
      		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    	</encoder>
	</appender>
	
  	<!-- 日志写到文件 -->
	<appender name="REDIS" class="com.fc.log.client.core.RedisAppender">
		 
  	</appender>
	
	<!-- 正式环境注释掉additivity=false -->
 	<logger name="com.fc" level="info" additivity="true">  
    	<appender-ref ref="REDIS"/>
 	</logger>
	
	<root level="info">
		<appender-ref ref="STDOUT"/>
	</root>
	
</configuration>
